[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] .jumbotron {
  background-color: #222;
  color: #eee;
}

[data-theme="dark"] p {
  color: #eee;
}

[data-theme="dark"] #calendar-container {
  padding: 10px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(#000, #333);
  color: #eee;
}

/* TODO: FLESH OUT THE REST OF THE DARK MODE THEME*/