/* 
*  Some CSS by Geoffrey Wright.
*  Some base-line styling for the calendar to make it look alright.
*  Free to later modification.
*/

#calendar-container {
    padding: 10px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#fff, #d3d3d3);
}

#calendar-container>div {
    padding: 0;
    margin-bottom: 10px;
}

#calendar-month-year {
    margin: 5px;
}

.calendar {
    width: 100%;
}

.calendar tr:first-child td {
    height: 12px;
}

.calendar td {
    width: calc(100%/7);
    height: 120px;
    border: 1px solid black;
    text-align: left;
    vertical-align: top;
    padding: 5px;
}